Repository marcosdosea/AgendeMe, pull requests merged in 2023-03, with the labels that each got.

#370 Dados Modificados
  Codigo/AgendeMeWebTests/Controllers/CargoControllerTests.cs
Labels: code, test module

#375 Testes da OrgaoPublicoSevice
  Codigo/ServiceTests/OrgaoPublicoServiceTests.cs
Labels: test module

#368 Add teste para AgendamentoService
  Codigo/ServiceTests/AgendamentoServiceTests.cs
Labels: test module

#367 Add teste para DiaAgendamentoController
  Codigo/AgendeMeWebTests/Controllers/DiaAgendamentoControllerTests.cs
Labels: test module

#378 Atualização nos métodos de teste referentes a classe PrefeituraServiceTests
  Codigo/ServiceTests/PrefeituraServiceTests.cs
Labels: test module

#377 Atualização e refatoração da classe AreaDeServicoControllerTests
  Codigo/AgendeMeWebTests/Controllers/AreaDeServicoControllerTests.cs
Labels: test module

#364 Associar objeto Identity a tabela de Cidadão
  Codigo/AgendeMe.sln
  Codigo/AgendeMeWeb/Areas/Identity/Pages/Account/Login.cshtml
  Codigo/AgendeMeWeb/Areas/Identity/Pages/Account/Login.cshtml.cs
  Codigo/AgendeMeWeb/Areas/Identity/Pages/Account/Logout.cshtml
  Codigo/AgendeMeWeb/Areas/Identity/Pages/Account/Logout.cshtml.cs
  Codigo/AgendeMeWeb/Areas/Identity/Pages/Account/Register.cshtml
  Codigo/AgendeMeWeb/Areas/Identity/Pages/Account/Register.cshtml.cs
  Codigo/AgendeMeWeb/Controllers/HomeController.cs
  Codigo/AgendeMeWeb/Models/CidadaoViewModel.cs
  Codigo/AgendeMeWeb/Views/Cidadao/Create.cshtml
  Codigo/AgendeMeWeb/Views/Shared/_LoginPartial.cshtml
  Codigo/AgendeMeWeb/wwwroot/css/agendeme.css
  Codigo/Core/Service/ICidadaoService.cs
  Codigo/Service/CidadaoService.cs
Labels: code

#381 melhoramento de dados no testes CargoService
  Codigo/ServiceTests/CargoServiceTests.cs
Labels: enhancement, test module

#379 melhoramento de dados do teste CargoController
  Codigo/AgendeMeWebTests/Controllers/CargoControllerTests.cs
Labels: enhancement, test module

#391 Adição dos casos de teste automatizados das Suites de Área de Serviço e Prefeitura
  Testes/Testes_ManterAreaDeServico_ManterPrefeitura.side
Labels: test module

#388 Testes da Suite Manter Cidadao Automatizados com Selenium
  Testes/Testes_ManterCidadão.side
Labels: enhancement, test module
